{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block extra_css %}{% endblock %}
</head>

<body>
    <nav>
        <div class="logo"><a href="{% url 'home' %}"><img class="logo_pic" src="{% static 'img/logo.svg' %}"></a></div>
       <div class="menu-toggle" onclick="document.querySelector('.nav-links').classList.toggle('active')">
        <div></div>
        </div>
        <ul class="nav-links">
            <button class="login1"><a href="{% url 'login' %}">Hello, {{request.user}}!</a></button>
            <button class="login1"><a href="{% url 'logout' %}">Logout</a></button>
        </ul>
    </nav>
    <span class="hello-msg"><a href="{% url 'logout' %}"></a></span>

    {% block content %}
    <div class="filter_and_tasks">
    <div class="main_container">
    <div class="buttons">
    <h3 class="text_main">My tasks</h3>
    <a class="add_tasks" href="{% url 'task_create' %}"> Add a task </a>
    </div>
</div>
<div class="main_box_for_filter">
<div class="box_for_filter">
    <form class="filtering" method="get">
    {{ myfilter.form.as_p }}
    <button class="submit_btn" type="submit">Search</button>
    </form>
</div>
</div>
</div>
    <ul>
        {% for task in tasks %}
        <div class="all">
        <div class="box
        {% if task.status == 'done' %}done
        {% elif task.status == 'in_progress' %}inprogress
        {% elif task.deadline_status == 'overdue'%}overdue{% endif %}">
        <table class="task-table">
        <div class="all_requirements">
            <div class="top-section">
            <p class="text1"><strong> {{task.title}}</strong></p>
            <p class="text">{{task.description}}</p>
            <div class="deadline-view">
            <p class="text">Deadline: {{ task.deadline|date:"Y-m-d H:i"}}<br></p>
            </div>
            <div class="time-view">
            <p class="text">Time left: {{ task.deadline|timeuntil }} </p>
            </div>
            <form action="{% url 'task_change_status' task.pk %}" method="POST">
                {% csrf_token %}
                <option value="{{ key }}" {% if task.status == key %}selected="selected" {% endif %}>{{ label }}</option>
            </form>
        </div>
        </table>
        <div class="bottom-section">
          <div class="status-view">
            <p class="text">{{ task.get_status_display }}</p>
            </div>
            <div class="btns">
            <a class="done_btn" href="{% url 'task_mark_done' task.pk %}"><i class="fa-solid fa-check" ></i></a>
            <a class="update_btn" href="{% url 'task_update' task.pk %}"><i class="fa-solid fa-pen-to-square"></i></a>
            <a class="delete_btn" href="{% url 'task_delete' task.pk %}"><i class="fa-solid fa-trash"></i></a>
            </div>
        </div>
    </div>
    </div>
        {% empty %}
        <p class="no-text">No tasks have been submitted</p>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
<script>
    if (sessionStorage.getItem("animationPlayed")) {
        document.body.classList.add("no-animation");
    } else {
        sessionStorage.setItem("animationPlayed", "true");
    }
</script>

</html>