{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<div class="all">
    <form method="POST" class="forms">
        <h2>Registration</h2>
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password1" placeholder="Password">
        <input type="password" name="password2" placeholder="Confirm Password">
        <button class="submit">Register Account</button>

        {{form.errors}}

        <a href="{% url 'login' %}">
            <p>Already have an account?</p>
        </a>
    </form>
</div>
{% endblock %}