{% extends 'todo_folder/home.html' %}
{% load static %}
{% block title %}Delete a task {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/delete_task.css' %}">
{% endblock %}


{% block content %}
<div class="delete_box_main">
<form class="delete_box_container"  method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <h3 class="delete_text">{% if form.instance.pk %}Edit{% else %} Are you sure you want to delete task: {{task.title}} ?{% endif %}</h3>
    <button class="delete_btn" type="submit">Delete</button>
    <a class="cancel_btn" href="{% url 'home' %}">Cancel</a>
</form>
</div>
{% endblock %}