{% extends 'todo_folder/home.html' %}
{% load static %}
{% block title %}List of tasks {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/update_task.css' %}">
<h3 class="edit_text">{% if form.instance.pk %}Edit{% else %}{% endif %} a task</h3>
<div class="edit_box_center">
<form class="edit_form" method="POST" >
    {% csrf_token %}
    {{form.as_p}}
    <button class="save_btn" type="submit">Save</button>
    <a class="submit_btn" href="{% url 'home' %}">Cancel</a>
</form>
</div>
{% endblock %}