body {
    background-color: rgb(221, 221, 225);
}

.delete_box_main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.delete_box_container {
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(162, 159, 159, 0.5);
    width: 400px;
    height: auto;
    border-radius: 10px;
    padding: 10px 20px;
}

.delete_text {
    margin-top: 50px;
    text-align: center;
    color: rgb(78, 78, 78);
    font-size: 15px;
    margin-bottom: 30px;
}

.delete_text:hover {
    color: #ed0000;
    transition-duration: 0.5s;
    cursor: pointer;
}

.delete_btn {
    background-color: #789cd1;
    color: #fff;
    padding: 10px 20px;
    margin: 15px;
    font-size: 15px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.delete_btn:hover {
    background-color: #5d88c7;
    transition-duration: 0.3s;
}

.cancel_btn {
    background-color: #9ea1a4;
    color: #fff;
    padding: 10px 20px;
    margin: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    border: none;
    text-decoration: none;
}

.cancel_btn:hover {
    background-color: #4a4f56;
    transition-duration: 0.3s;
}