 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 nav {
     background: #303f49;
     color: white;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 20px;
 }

 .logo_pic {
     width: 150px;
     cursor: pointer;
 }

 .nav-links {
     display: flex;
     list-style: none;
     gap: 20px;
 }

 .register1,
 .login1 {
     background-color: #576984;
     color: #fff;
     padding: 10px 10px;
     border-radius: 5px;
     border: none;
 }

 .register1 a,
 .login1 a {
     color: #fff;
     text-decoration: none;
 }

 .menu-toggle {
     display: none;
     flex-direction: column;
     cursor: pointer;
 }

 .menu-toggle span {
     width: 25px;
     height: 3px;
     background: white;
     margin: 4px 0;
     transition: 0.3s;
 }

 @media (max-width: 768px) {
     .nav-links {
         position: absolute;
         top: 48px;
         left: -100%;
         background: #303f49;
         color: white;
         flex-direction: column;
         width: 100%;
         text-align: center;
         transition: left 0.3s ease-in-out;
         padding: 20px 0;
     }

     .nav-links.active {
         left: 0;
     }

     .menu-toggle {
         display: flex;
     }

     .register1,
     .login1 {
         background-color: #263f64;
         color: #fff;
         padding: 10px 15px;
         border-radius: 5px;
         border: none;
         width: 60%;
         max-width: 250px;
         display: flex;
         justify-content: center;
         margin: 10px auto;

     }
 }

 .hello_msg {
     font-size: 18px;
     color: #fff;
     margin-right: 20px;
 }