    body {
        display: flex;
        font-family: "Open Sans", sans-serif;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }

    .register-container {
        background-color: rgb(113, 85, 85);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        width: 350px;
        border-color: 2px solid #357ab8;

    }

    form input {
        width: 100%;
        padding: 10px 5px;
        margin-bottom: 20px;
        border: none;
        border-bottom: 2px solid #b4b4b4;
        background: transparent;
        outline: none;
        transition: border-color 0.3s;
    }

    form input:focus {
        border-bottom: 2px solid #62758d;
    }


    button.submit {
        margin-top: 20px;
        width: 100%;
        padding: 16px 20px;
        background-color: #62758d;
        border: none;
        color: white;
        font-size: 14px;
        border-radius: 6px;
        cursor: pointer;
    }

    .btn-submit:hover {
        background: #357ab8;
    }

    p {
        text-align: center;
        cursor: pointer;
        color: #357ab8;
        text-decoration: none;
        list-style-type: none;
    }

    a {
        text-decoration: none;
        list-style-type: none;
    }